[Unit]
Description=pins2 Backup: Home Timer
Requires=pins2-backup-home.service

[Timer]
OnCalendar=*-*-* 02:00
Unit=pins2-backup-home.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

