[Unit]
Description=pins2 Backup: Home
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/pins2-backup
ExecStart=/usr/bin/systemd-inhibit \
  --who="pins2 Backup: Home" \
  --why="pins2 home backup syncing" \
  /usr/local/bin/pins2-backup archive home /home/
