[Unit]
Description=pins2 Backup: System Timer
Requires=pins2-backup-system.service

[Timer]
OnCalendar=Mon *-*-* 00:02:00
Unit=pins2-backup-system.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

