[Unit]
Description=pins2 Backup: System
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/pins2-backup/system
ExecStart=/usr/bin/systemd-inhibit \
  --who="pins2 Backup" \
  --why="pins2 backup syncing" \
  /usr/local/bin/pins2-backup archive system /
